.searchBg {
  background-color: white;
  padding: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.searchInput {
  max-height: 100%;
  max-width: 100%;
}

.searchButton {
  max-height: 2%;
  max-width: 2%;
}

.round {
  border-radius: 50%;
}

.grid-item-search-box {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

.grid-item-search-button {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
}
